
<div>
    <div class="title">
        <h1>LOTTO</h1>
    </div>
    <div class="title">
        <p><a class="btn btn-primary btn-lg" href="#" role="button">NEW</a></p>
    </div>
</div>    


        
        <div class="title">
            이번주 로또 번호
        </div>
        
        <div class="title">
       
            <%= @my_numbers[0] %>
       
        
       
            <%= @my_numbers[1] %>
       
       
            <%= @my_numbers[2] %>
      
            <%= @my_numbers[3] %>
       
            <%= @my_numbers[4] %>
      
            <%= @my_numbers[5] %>
        </div>
    </div>
    
    

       <div class="title">
          등수  <%= @result %>
       </div>
        
   